@use "../../../assets/sass/mixins/typography" as *
@use "../../../assets/sass/variables/colors" as *
  
.header
  flex-grow: 1
  display: flex
  justify-content: center
  padding: 16px 24px
  background-color: $primary-2
  border-radius: 0 0 4px 4px
  overflow: hidden

  &__menu
    flex-grow: 1
    display: flex
    justify-content: center
    gap: 24px
    max-width: 500px

    &__item
      & > a
        @include font-custom(14, 16, center, 400, 'Inter', $primary-1)