@use "../../../assets/sass/mixins/typography" as *
@use "../../../assets/sass/variables/bootstrap" as *

.header
  flex-grow: 1
  display: flex
  flex-direction: column
  gap: 16px
  height: 100vh
  padding: 16px

  &__content
    flex-grow: 1
    display: flex

  &__navigation
    display: flex
    justify-content: flex-start
    background-color: $color-primary-1
    border-radius: 8px
    box-shadow: $shadow-primary-1
