$color-primary-1: #ffffff
$color-primary-2: #f5f5f5
$color-primary-3: #ebebeb
$color-primary-4: #c6c6c6

$color-secondary-1: #88d978
$color-secondary-2: #449c38

$primary-1: #e2d4c5
$primary-2: #524242
$primary-3: #292524

$secondary-1: #1f1f1f
$secondary-2: #181818

$brand-html: #e34f26
$brand-css: #1572b6
$brand-javacript: #f7df1e
$brand-typescript: #3178c6
$brand-vue: #4fc08d
$brand-nuxt: #00dc82
$brand-scss: #cc6699
$brand-jest: #c21325
$brand-vitest: #6e9f18
$brand-vuex: #4fc08d
$brand-pinia: #00dc82
$brand-storybook: #ff4785
$brand-node: #5fa04e
$brand-express: #000000
$brand-svelte: #ff3e00
$brand-angular: #0f0f11
$brand-jasmine: #8a4182
$brand-react: #61dafb
$brand-next: #000000
$brand-styled-components: #db7093
$brand-redux: #764abc
$brand-dot-net: #512bd4
$brand-blazor: #512bd4
$brand-jquery: #0769ad
$brand-bootstrap: #7952b3
$brand-tailwind: #06b6d4
$brand-handlebars: #000000
$brand-wordpress: #21759b
$brand-php: #777bb4
$brand-c: #a8b9cc
$brand-c-sharp: #5834d4
$brand-java: #f0931c
$brand-docker: #2496ed
$brand-git: #f05032
$brand-github: #181717
$brand-azure: #00b5ea
$brand-ci-cd: #c2d328
$brand-scrum: #0164ff
$brand-kanban: #64e7a4
$brand-meister-task: #1891ff
$brand-trello: #0052cc
$brands: ("html": $brand-html, "css": $brand-css, "javascript": $brand-javacript, "typescript": $brand-typescript, "vue": $brand-vue, "nuxt": $brand-nuxt, "sass": $brand-scss, "jest": $brand-jest, "vitest": $brand-vitest, "vuex": $brand-vuex, "pinia": $brand-pinia, "storybook": $brand-storybook, "node": $brand-node, "express": $brand-express, "svelte": $brand-svelte, "angular": $brand-angular, "jasmine": $brand-jasmine, "react": $brand-react, "next": $brand-next, "styled-components": $brand-styled-components, "redux": $brand-redux, "dot-net": $brand-dot-net, "blazor": $brand-blazor, "jquery": $brand-jquery, "bootstrap": $brand-bootstrap, "tailwind": $brand-tailwind, "handlebars": $brand-handlebars, "wordpress": $brand-wordpress, "php": $brand-php, "c": $brand-c, "c-sharp": $brand-c-sharp, "java": $brand-java, "docker": $brand-docker, "git": $brand-git, "github": $brand-github, "azure": $brand-azure, "ci-cd": $brand-ci-cd, "scrum": $brand-scrum, "kanban": $brand-kanban, "meister-task": $brand-meister-task, "trello": $brand-trello)

$skill-programming: #f5a026
$skill-front-end: #31c6f7
$skill-frameworks: #62b14e
$skill-back-end: #d64a4a
$skill-testing: #f3c51e
$skill-devops: #c545a5
$skill-agile: #7952b3
$skills: ("programming": $skill-programming, "front-end": $skill-front-end, "frameworks": $skill-frameworks, "back-end": $skill-back-end, "testing": $skill-testing, "devops": $skill-devops, "agile": $skill-agile)
