@use "../../assets/sass/variables/bootstrap" as *

#root
  display: flex
  justify-content: center
  width: 100dvw
  height: 100dvh
  overflow: hidden

.default
  position: relative
  flex-grow: 1
  display: flex
  flex-direction: column
  background-color: #f9f9f9
  overflow: hidden auto
  scroll-behavior: smooth

  &__start-point
    position: absolute
    top: 0
    left: 0
    opacity: 0

  &__wrapper
    z-index: 1
    position: relative
    flex-grow: 1
    display: flex

    &__main
      z-index: 1
      flex-grow: 1
      display: flex
      flex-direction: column
