@use "../../assets/sass/variables/bootstrap" as *

#root
  display: flex
  justify-content: center
  width: 100dvw
  height: 100dvh
  overflow: hidden

.default
  flex-grow: 1
  display: flex
  flex-direction: column
  background: repeating-linear-gradient(45deg, $color-primary-3, $color-primary-3 5px, $color-primary-2 5px, $color-primary-2 20px)
  overflow: hidden auto
  scroll-behavior: smooth

  &__header
    display: flex

  &__main
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 48px
