html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
}

body {
  width: clamp(100vw, 100%, 100dvw);
  height: clamp(100vh, 100%, 100dvh);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
menu {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  src: url(./assets/fonts/Archivo/archivo_variable_weight.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src: url(./assets/fonts/Inter/inter_variable_weight.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  src: url(./assets/fonts/Outfit/outfit_variable_weight.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Forte';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Forte/forte_regular.ttf);
}

@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  src: url(./assets/fonts/Fascinate/fascinate_regular.ttf);
}
